<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IForcastService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:17731/ForcastService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IForcastService"
                contract="WeatherServiceClient.IForcastService" name="BasicHttpBinding_IForcastService" />
        </client>
    </system.serviceModel>
</configuration>